*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
header {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 24px;
}

nav {
  background-color: darkslategray;
  padding: 16px;
}
nav a {
  color: #fff;
}

.header-container {
  display: flex;
  justify-content: space-between;
}
.header-image {
  border: 1px solid black;
  background-color: lightgray;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 32px;
}
.contact-info {
  text-align: end;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 20px;
}

#hero,
#events,
#digital {
  padding: 2.5vh 10vw;
}

.hero-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
}

.hero-image {
  border: 1px solid black;
  padding: 20px;
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-between;
}

.hero-headline {
  text-align: center;
}

.hero-hours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 40px;
  gap: 10px;
  background-color: lightgray;
}

.hero-hours table {
  flex: 1;
  border-collapse: collapse;
}

.hero-hours tbody {
  border-bottom: 1px solid black;
}

.hero-hours td {
  border-top: 1px solid black;
  padding: 6px 0;
}
.icon-container {
  display: flex;
  padding: 20px 40px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
}

.icon-container > [class*="icon"] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 0%;
  gap: 12px;
  border: 1px solid black;
  border-radius: 7px;
  padding: 12px;
  background-color: lightgray;
}

.icon-container p {
  align-self: center;
}

#events {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.event-parent-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}
.event-container {
  display: flex;
  gap: 6px;
}

.event-date {
  flex: 0 0 5%;
  text-align: center;
  border: 1px solid black;
  background-color: lightgray;
  padding: 10px 0;
}

.event-info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px dashed black;
}

.digital-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.digital-container h2 {
  font-size: 3rem;
}

.digital-container h3 {
  font-size: 1.8rem;
}

.digital-content-item h4 {
  font-size: 1.4rem;
}

.digital-content-item p {
  font-weight: 900;
  font-size: 1.1rem;
}

.digital-content-grid-container {
  display: flex;
  gap: 128px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.digital-content-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.digital-content-image {
  min-height: 175px;
  min-width: 175px;
  border-radius: 15px;
  background-color: lightgray;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#newsletter {
  background-color: lightgray;
  padding: 36px;
}

.newsletter-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.newsletter-container > button {
  max-width: max-content;
  padding: 10px 24px;
  border-radius: 12px;
  font-size: 1.4rem;
}

.newsletter-container h2 {
  font-size: 2.5rem;
}

.newsletter-container h3 {
  font-size: 1.6rem;
}

#contacts {
  padding: 36px;
  background-color: darkslategray;
  color: #fff;
}
.contacts-container {
  display: flex;
  justify-content: space-evenly;
}

.contacts-directions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contacts-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 12px;
}

.contacts-links-icons {
  display: flex;
  gap: 12px;
}

.contacts-icon {
  border: 1px solid black;
  padding: 12px;
  color: black;
  background-color: lightgray;
}

.contacts-directions h4 {
  font-size: 1.6rem;
}

.contacts-directions p {
  font-size: 1.2rem;
}

.contacts-links h4 {
  font-size: 1.6rem;
}

.contacts-links input {
  border-radius: 8px;
  padding: 8px;
  font-size: 1.2rem;
}

footer {
  text-align: center;
  background-color: darkslategray;
  color: #fff;
  padding-bottom: 24px;
}
